#mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#battleShip {
  opacity: 0.9;
  width: 6%;
  border-radius: 10%;
}

#headingImg {
  width: 19%;
  height: 40%;
}

#gameBoard div {
  display: flex;
}

div[id^="cell"] {
  border: 1px solid black;
}

#real,
#computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#shipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#shipContainer img#\33 {
  width: 16%;
  height: 52px;
}
#shipContainer img#\34 {
  width: 26%;
}
#shipContainer img#\35 {
  width: 36%;
}
#shipContainer img#\36 {
  width: 32%;
}
#gameBoard img#\33 {
  width: 280%;
}
#gameBoard img#\34 {
  width: 410%;
}
#gameBoard img#\35 {
  width: auto;
}
#gameBoard img#\36 {
  width: 410%;
}

#gameBoardContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
}

img.hide {
  display: none;
}

.drag-over {
  background-color: red;
}
